{
  "software_id": "org.hspconsortium.bilirubin:{{bilirubin_risk_chart_project_name}}:{{bilirubin_risk_chart_project_version}}",
  "client_name": "Bilirubin Risk Chart",
  "client_uri": "{{bilirubin_risk_chart_server_external_url}}/index.html",
  "logo_uri": "https://content.hspconsortium.org/images/bilirubin/logo/bilirubin.png",
  "launch_url": "{{bilirubin_risk_chart_server_external_url}}/launch.html",
  "redirect_uris": [
    "{{bilirubin_risk_chart_server_external_url}}/index.html"
  ],
  "scope": "launch online_access patient/Patient.read patient/Observation.read patient/Observation.write",
  "token_endpoint_auth_method": "none",
  "grant_types": [
    "authorization_code"
  ],
  "fhir_versions": [
    "1.0.2", "1.4.0", "1.6.0", "1.8.0", "3.0.1"
  ]
}
